.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left{
  height:100vh;
  padding:0px;
  -webkit-box-shadow: -1px 1px 13px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: -1px 1px 13px 0px rgba(0,0,0,0.36);
  box-shadow: -1px 1px 13px 0px rgba(0,0,0,0.36);
}

.middle{
  height:100vh;
  padding:0px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.36);
  overflow-y:scroll
}

.right{
  height:100vh;
  padding:0px;
}

.top-header{
  background-color: rgb(99, 99, 247);
  height:4%
  
}

.top-header:hover{
  background-color: rgb(99, 99, 247);
  -webkit-box-shadow: -1px -1px 24px 1px rgba(0,0,0,0.36);
-moz-box-shadow: -1px -1px 24px 1px rgba(0,0,0,0.36);
box-shadow: -1px -1px 24px 1px rgba(0,0,0,0.36);
}

.top-header p{
  color:white;
  margin-top:1%;
  font-size :19px !important;
}
.page-loader{ background: #f9f9f9 none repeat scroll 0 0;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;}
.loader {
  height: 8px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 50%;
  width: 44px;
}
.dot {
  background: #ccc none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  position: absolute;
  width: 10px;
}
.dot_1 {
  animation: 1.5s linear 0s normal none infinite running animateDot1;
  background: #f26f29 none repeat scroll 0 0;
  left: 12px;   
}.dot_2 {
  animation: 1.5s linear 0.5s normal none infinite running animateDot2;
  left: 24px;
}.dot_3 {
  animation: 1.5s linear 0s normal none infinite running animateDot3;
  left: 12px;
}.dot_4 {
  animation: 1.5s linear 0.5s normal none infinite running animateDot4;
  left: 24px;
}
@keyframes animateDot1 {
0% {
  transform: rotate(0deg) translateX(-12px);
}
25% {
  transform: rotate(180deg) translateX(-12px);
}
75% {
  transform: rotate(180deg) translateX(-12px);
}
100% {
  transform: rotate(360deg) translateX(-12px);
}
}
@keyframes animateDot2 {
0% {
  transform: rotate(0deg) translateX(-12px);
}
25% {
  transform: rotate(-180deg) translateX(-12px);
}
75% {
  transform: rotate(-180deg) translateX(-12px);
}
100% {
  transform: rotate(-360deg) translateX(-12px);
}
}
@keyframes animateDot3 {
0% {
  transform: rotate(0deg) translateX(12px);
}
25% {
  transform: rotate(180deg) translateX(12px);
}
75% {
  transform: rotate(180deg) translateX(12px);
}
100% {
  transform: rotate(360deg) translateX(12px);
}
}
@keyframes animateDot4 {
0% {
  transform: rotate(0deg) translateX(12px);
}
25% {
  transform: rotate(-180deg) translateX(12px);
}
75% {
  transform: rotate(-180deg) translateX(12px);
}
100% {
  transform: rotate(-360deg) translateX(12px);
}
}

 .snackbar{
   margin-left:1px;
 animation-name: snacku;
 animation-duration: 1.3s;
}

/* @keyframes snacku{
  from{margin-left:100%}
  to{margin-left:0px}
} */



/* User Image */

   .container{
     height: 100%;
     align-content: center;
   }

   .image_outer_container{
     margin-top: auto;
     margin-bottom: auto;
     border-radius: 50%;
     position: relative;
   }

   .image_inner_container{
     border-radius: 50%;
     padding: 5px;
   }
   .image_inner_container img{
     height: 150px;
     width: 150px;
     border-radius: 50%;
     border: 5px solid white;
   }

   .image_outer_container .green_icon{
     background-color: #4cd137;
     position: absolute;
     right: 70px;
     bottom: 10px;
     height: 30px;
     width: 30px;
     border:5px solid white;
     border-radius: 50%;
   }


.top-header{
  background-color: rgb(99, 99, 247);
  height:4%
  
}

.top-header:hover{
  background-color: rgb(99, 99, 247);
  -webkit-box-shadow: -1px -1px 24px 1px rgba(0,0,0,0.36);
-moz-box-shadow: -1px -1px 24px 1px rgba(0,0,0,0.36);
box-shadow: -1px -1px 24px 1px rgba(0,0,0,0.36);
}

.showdata{
  height:81.8vh;
  width:99%;
  border:none;
  margin-left:0.3%;
}

.showdata:hover{
  -webkit-box-shadow: -2px 0px 0px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -2px 0px 0px 0px rgba(0,0,0,0.45);
box-shadow: -0.4px 0px 0px 0px rgba(0,0,0,0.45);
}

.edit-button{
  margin-top: 9%; 
  background-color: grey; 
  color: white
}


::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(99, 99, 247); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 99, 247); 
}


.ace_editor.ace-tm.showdata {
  width: 99% !important;
  height: 81.8vh !important;
}
.ace-tm .ace_print-margin {
  background: transparent !important;
}

.para{
  margin-top:50%;
  margin-left:35%
}

.para p{
   font-size: 22px;
   color:rgb(99, 99, 247)
}

.loginimage{
  width:100%;
  height:35vh
}

.login-div{
  margin:0%; 
   margin-left:30%;
   margin-top:15%;
   animation-name: logindiv;
   animation-duration: 0.3s;
}

@keyframes logindiv{
  from{margin-left:50%}
  to{margin-left:30%}
}

.logout-button{
   float: right  ;
   margin-top: 4px;
   margin-right: -10px;
   cursor:pointer

}